.playlist-wrapper {
    .playlist-card {
        text-align: center;

        img {
            width: 200px;
            margin: 16px auto;
            cursor: pointer;
            transform: scale(1);
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
