<section class="index-wrapper">
    <h1>HELLO</h1>
    <div class="not-logged-in" ng-if="!userLoggedIn">
        <p>
            Before we can do anything you need to log into your Spotify account so we can delete all of your playlists.
        </p>
        <p>
            <button type="button" name="button" ng-click="login()">login</button>
        </p>
    </div>
    <div class="logged-in" ng-if="userLoggedIn">
        You are logged in! Click on the menu and select an option to get started!
    </div>
</section>
