@import 'components/playlist';
@import 'components/playlist-detail';
@import 'components/audio-player';
@import 'components/context-menu';
@import 'components/recommendations';

.header {
    text-align: center;
}

md-sidenav + md-content {
    margin-left: auto;
    margin-right: auto;
}